@model ProiectIP2019.Models.IndexViewModel
@{
    ViewBag.Title = "4NEWS Register";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="centerForm">
    <p class="text-success">@ViewBag.StatusMessage</p>
    @if (TempData.ContainsKey("message"))
    {
        <h3 class="alert @TempData["color"].ToString()" role="alert">@ViewBag.message</h3>
    }

    <ol class="breadcrumb">
        <li><h3>User Details</h3></li>
    </ol>
    <div class="panel-heading"><i class="glyphicon glyphicon-user"></i>UserName: <span class="label label-default">@ViewBag.userName</span></div>
    <div class="panel-body">
        <i class="glyphicon glyphicon-lock"></i> Password:

        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
        <br /><br />
        <i class="glyphicon glyphicon-cog"></i> Role:
        <span class="label label-default">@ViewBag.userRole</span>
        <br /><br />
        <i class="glyphicon glyphicon-envelope"></i> Email:
        <span class="label label-default">@ViewBag.userEmail</span>
        <br /><br />
    </div>

    <div class="panel-footer">
        <a class="btn btn-sm btn-pink" href="/Article/New">
            Add article
        </a>
        &nbsp
        @if (ViewBag.userRole == "Editor")
        {
            <a class="btn btn-sm btn-pink" href="/Article/Approve">
                Approve news
            </a>
        }
        else

            if (ViewBag.userRole == "Administrator")
        {
            <a class="btn btn-sm btn-pink" href="/Categories/New">
                Add category
            </a>
            <a>&nbsp</a>
            <a class="btn btn-sm btn-pink" href="/Article/Approve">
                Approve news
            </a>

            <a class="btn btn-sm btn-pink" href="/Users" style="float:right">
                View user list
            </a>}

    </div>


    <dl class="dl-horizontal">
        @*<dt><i class="glyphicon glyphicon-lock"></i> Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt><i class="glyphicon glyphicon-cog"></i> Role:</dt>
            <dd>@ViewBag.userRole</dd>

            <dt> <i class="glyphicon glyphicon-envelope"></i> Email:</dt>
            <dd>@ViewBag.userEmail</dd>*@

        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication

            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
            </dd>*@
    </dl>
</div>
